<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="Tavis.UriTemplates" version="0.6.4" targetFramework="net452" />
  <package id="xunit" version="2.0.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net452" />
  <package id="xunit.core" version="2.0.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net452" />
  <package id="xunit.runner.console" version="2.0.0" targetFramework="net452" />
  <package id="xunit.runner.visualstudio" version="2.0.1" targetFramework="net452" />
</packages>